

textarea {
  background: #DFDED4;
}

body, textarea, div, a {
  color: #432F21;
}

#text-input {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
}

#menu-panel {
  background: #cdcab9;
  width: 100%;
  height: 25px;
  padding-left: 5px;
}

#menu-right {
  float: right;
  padding-right: 5px;
  margin-top: 2px;
}

#options-panel {
  
}

#options-panel select {
  margin-right: 5px;
  margin-left: 5px;
  background: inherit;
  border: 2px solid #432F21;
  border-radius: 0px;
  padding: 0px;
}

#logo {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  text-shadow: -1px -1px 0px #eee;
}

input {
  border: none;
  width: 100%;
  margin:  10px 0px !important;
}

*:focus {
    outline: 0;
}

#split-container {
  width: 100%;
}

.goog-splitpane-handle {
  border-left: 1px solid #cdcab9;
  border-right: 1px solid #cdcab9;
  background: #cdcab9;
  position: absolute;
}

.goog-splitpane-handle-horizontal {
  cursor: col-resize;
}

.goog-splitpane-handle-vertical {
  cursor: row-resize;
}

.goog-splitpane-first-container,
.goog-splitpane-second-container {
  overflow: auto;
  position: absolute;
}

.goog-splitpane-second-container {
  background: #d6d3c4;
}


#images-container {
  padding: 5px;
}

.img-container {
  display: inline-block;
  font-size: 8px;
  margin: 5px;
}

@-webkit-keyframes myfirst
{
  0%   {-webkit-transform:scale(1); box-shadow: 0px 0px 0px black;}
  100% {-webkit-transform:scale(1.05); box-shadow: 0px 0px 10px black;}
}

@keyframes myfirst
{
  0%   {-webkit-transform:scale(1);}
  100% {-webkit-transform:scale(1.05);}
}

.img-container:hover {
  animation: myfirst 0.2s;
  -webkit-animation: myfirst 0.2s;
  -webkit-transform:scale(1.05);
  box-shadow: 0px 0px 10px black;
  border-radius: 0px;
  border: 5px solid #cdcab9;
  margin: 0px;
}

.img-container .image {
  width: 200px;
  height: 200px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.img-metadata {
  display: none;
  background: rgba(205, 202, 185, 0.8);
  position: absolute;
  color: #432F21;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 5px;
}

.img-name {
  font-weight: bold;
  display: block;
  opacity: 1;
}

.img-container:hover .img-metadata {
  display: inline;
}

#tags-container {
  background: #cdcab9;
  padding: 5px;
}

#tags {
  line-height: 30px;
}

.tag {
  background: #432F21;
  color: #DFDED4;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
}

.tag-own {
  /* border: 1px solid black; */
  background: #ca171b;
  color: #DFDED4;
}